<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Rails Prelaunch Signup" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Prelaunch Signup" %>">
  
  
  <link href="//fonts.googleapis.com/css?family=Muli:300italic,300,400italic,400" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<!-- activate scrollspy -->

<body id="top" data-spy="scroll" data-target=".navbar" data-offset="50">
<%= render 'layouts/navigation' %>
  <!-- Home Page -->
<div id="home" class="page color-1">
  <h2 class="page-headline color-3 call-to-action large">  <span>I Saw Who</span> is coming soon... </h2>
  <div class="inner-page">
    <div class="span12">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div><!-- span12 -->
    <%= render 'layouts/value_propositions' %>
    <%= render 'layouts/features' %>
    <%= render 'layouts/about_us' %>
    <%= render 'layouts/footer' %>
  </div> <!-- inner-page -->

</body>
</html>